<p>
  <label>Tracker ID</label>
  <%= select_tag 'settings[tracker_id]', options_for_select(Tracker.pluck(:name, :id), selected: @settings['tracker_id'] )%>
</p>

<p>
  <label>Status ID</label>
  <%= select_tag 'settings[status_id]',
                 options_for_select(IssueStatus.pluck(:name, :id),
                                    selected: @settings['status_id']  )  %>
</p>

<p>
  <label>Project LOGO</label>
  <%= select_tag 'settings[logo]',
                 options_for_select(ProjectCustomField.where(field_format: 'attachment').pluck(:name, :id),
                                    selected: @settings['logo']  )  %>
</p>
