<div>
  <button class="btn btn-primary" style="width: 100%"> <%= Issue.find_by_id(params[:issue_id])&.subject %> - was added</button>
</div>
<div style="text-align: center">
  Thank you! <br/>
  We will get back to you with any additional questions or when the task is done ASAP.
  <br/>
  If you have any questions please e-mail team@tclubterrace.com
  <br/>
  Or
  <br/>
  Would you like to repport another issue?
</div>

<div style="text-align: center">
  <%= link_to 'Create New Issue', "/client_report/#{@project.identifier}", class: 'btn btn-primary', style: 'width: 85%' %>
</div>