<div class="btn-primary" style="padding: 5px; text-align: center">
 <%= Issue.find_by_id(params[:issue_id])&.subject %> - Är tillagt
</div>
<div style="text-align: center; font-size: 14px; margin-top: 20px; margin-bottom: 20px">
  Tack!<br/>
  Vi återkommer med eventuella frågor eller när uppgiften är klar. Vi eventuella frågor kontakta, team@tclubterrace.com eller skapa ett nytt ärende nedan.
</div>

<div style="text-align: center; margin-bottom: 80%">
  <%= link_to 'Skapa ett nytt ärende', "/client_report/#{@project.identifier}", class: 'btn btn-primary', style: 'width: 85%' %>
</div>